<div class="container">
  <div class="blog-card">
    <div class="blog-card__image">
      <img src="https://wallpapercave.com/wp/wp4471357.jpg" alt="Blog Image" />
      <div class="blog-card__audio">
        <audio controls>
          <source src="path_to_your_audio_file.mp3" type="audio/mpeg" />
        </audio>
      </div>
    </div>
    <div class="blog-card__content">
      <h2 class="blog-card__title">Blog Title</h2>
      <h3 class="blog-card__subtitle">slide 1 / 3</h3>
      <p class="blog-card__text">
        This is a brief description of the blog content. It gives an overview of
        the topic and entices the reader to learn more.
      </p>
    </div>
  </div>
</div>
