$primary-color: #333;
$secondary-color: #fff;
$button-color: #007bff;
$button-hover-color: #0056b3;
$button-text-color: #fff;
$card-padding: 16px;
$card-border-radius: 8px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

:host {
  display: block;
  margin: 0;
  font-family: Arial, sans-serif;
  // background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
}

audio {
  width: 100%;
  bottom: 0;
}

audio::-webkit-media-controls-enclosure {
  border-radius: 0;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

.blog-card {
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  border-radius: $card-border-radius;
  overflow: hidden;
  box-shadow: $box-shadow;

  &__image {
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__content {
    padding: $card-padding;
  }

  &__title {
    font-size: 1.5em;
    color: $primary-color;
    margin: 0 0 10px 0;
  }

  &__subtitle {
    font-size: 1em;
    color: $primary-color;
    margin: 0 0 10px 0;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    // align-items: center;
    margin-bottom: 10px;

    .blog-card__subtitle {
      font-size: 1em;
      color: $primary-color;
      margin-right: 10px;
    }

    .icon {
      width: 1em;
      height: 1em;
      vertical-align: -0.125em;
    }

    .blog-card__button--previous {
      margin-right: 10px;
    }

    .blog-card__button--previous,
    .blog-card__button--next {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__text {
    font-size: 1em;
    color: $primary-color;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
  .blog-card {
    flex-direction: row;
    // align-items: center;

    &__image {
      // width: 50%;
      position: relative;

      img {
        // height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      width: 50%;
      padding: $card-padding * 2;
    }

    &__title {
      text-align: left;
    }

    &__navigation {
      justify-content: left;
    }
  }
}
