<div class="slideshow-container" *ngIf="!isLoading">
  <div class="navigation-buttons">
    <button (click)="previousSlide()" [disabled]="currentSlideIndex === 0">Previous</button>
    <span>{{ getSlideTitle(currentSlideIndex) }}</span>
    <button (click)="nextSlide()" [disabled]="currentSlideIndex === imageUrls.length - 1">Next</button>
  </div>
  <img [src]="imageUrls[currentSlideIndex]" alt="Generated Story Image" class="story-image" />
  <audio #audioPlayer controls autoplay [src]="audioUrls[this.currentSlideIndex]" (ended)="onAudioEnded()"></audio>
  <p>{{ storyParts[currentSlideIndex] }}</p>
</div>
