<div class="container">
  <h1>Bedtime Stories App</h1>
  <button (click)="onClickGenerateBtn()" [disabled]="isLoading">Generate Story</button>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  <app-slideshow
    [ngClass]="{ 'hidden': !isLoading && audioUrls.length == 0 }"
    [imageUrls]="imageUrls"
    [audioUrls]="audioUrls"
    [storyParts]="storyParts"
    [generationStarted]="generationStarted"
    [generationCompleted]="generationCompleted"
  >
  </app-slideshow>
  <div *ngIf="isLoading">
    <p>Loading, please wait...</p>
  </div>
</div>
