.container {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

.hidden {
  display: none;
}

.voice-selection {
  margin-bottom: 20px;

  label {
    margin-right: 10px;

    > input {
      margin: 0;
      margin-right: 5px;
      padding: 0;
      width: auto;
    }
  }
}

.story-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
