<div class="container">
  <h1>Bedtime Stories App</h1>
  <div class="voice-selection">
    <label>Voice: </label>
    <label>
      <input
        type="radio"
        name="voice"
        [disabled]="isLoading"
        [value]="true"
        [(ngModel)]="isMaleVoice"
        checked
      />
      Male
    </label>
    <label>
      <input
        type="radio"
        name="voice"
        [disabled]="isLoading"
        [value]="false"
        [(ngModel)]="isMaleVoice"
      />
      Female
    </label>
  </div>
  <button (click)="onClickGenerateBtn()" [disabled]="isLoading">
    Generate Story
  </button>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  <app-slideshow
    [ngClass]="{ hidden: isLoading || audioUrls.length == 0 || !!errorMessage }"
    [imageUrls]="imageUrls"
    [audioUrls]="audioUrls"
    [storyTitle]="storyTitle"
    [storyParts]="storyParts"
    [generationStarted]="generationStarted"
    [generationCompleted]="generationCompleted"
  >
  </app-slideshow>
  <div *ngIf="isLoading">
    <p class="loading">Loading, please wait</p>
  </div>
</div>
